<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="calculator" class="com.hihusky.SimpleCalculator"/>

    <bean id="loggingAspect" class="com.hihusky.LoggingAspect"/>

    <aop:config>
        <aop:aspect ref="loggingAspect">
            <aop:pointcut id="calculatorMethods" expression="execution(* com.hihusky.Calculator.*(..))"/>
            <aop:around pointcut-ref="calculatorMethods" method="around"/>
        </aop:aspect>
    </aop:config>

</beans>